body{
  background-color: rgb(8, 75, 75);
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: aquamarine;
}

#github-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: rgb(41, 65, 65);
}


ul {
  list-style: none;
  padding: 0;
}

#user-list li,
#repos-list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: rgb(207, 161, 104);
}

#user-list li {
  cursor: pointer;
}

#repos-list {
  flex-basis: 50%;
  margin-left: 20px;
}

#repos-list h3 {
  margin-top: 0;
}

#github-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#github-form input[type="text"] {
  padding: 5px;
  width: 200px;
}

#github-form input[type="submit"] {
  padding: 5px 10px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  cursor: pointer;
}

#user-list li:hover,
#repos-list li:hover {
  background-color: #f5f5f5;
}

#user-list a {
  color: #337ab7;
  text-decoration: none;
}

#repos-list a {
  color: #333;
  text-decoration: none;
}

#repos-list ul {
  padding-left: 20px;
}
